@using Blongo.Areas.Admin.Models.CreateFirstUser
@model CreateFirstUserModel

@{
    ViewBag._Title = "Create Administrator User";
}

<div class="container-fluid">
    <div class="create-first-user">
        <h1 class="m-b-2">
            Welcome to Blongo
        </h1>

        <p>
            Before you begin blogging, we need to create the first administrator user. Don't worry, you can change it later.
        </p>

        <form method="post" class="m-t-3">
            <div asp-validation-summary="All" class="alert alert-danger" role="alert"></div>

            <fieldset>
                <div class="form-group">
                    <label asp-for="Name" class="sr-only"></label>
                    <div class="input-group">
                        <span class="input-group-addon input-group-addon-icon"><i class="fa fa-user"></i></span>
                        <input asp-for="Name" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Name)" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="EmailAddress" class="sr-only"></label>
                    <div class="input-group">
                        <span class="input-group-addon input-group-addon-icon"><i class="fa fa-envelope"></i></span>
                        <input type="email" asp-for="EmailAddress" class="form-control" placeholder="@Html.DisplayNameFor(m => m.EmailAddress)" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="sr-only"></label>
                    <div class="input-group">
                        <span class="input-group-addon input-group-addon-icon"><i class="fa fa-lock"></i></span>
                        <input type="password" asp-for="Password" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Password)" />
                    </div>
                </div>
            </fieldset>

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block btn-lg">Create</button>
            </div>
        </form>
    </div>
</div>

@section Styles
{
    <style>
        .container-fluid {
            position: absolute;
            height: 100%;
            width: 100%;
        }
    </style>
}