@using Blongo
@using Blongo.Areas.Admin.Models.EditUser

@model EditUserModel

@{
    ViewBag._Title = "Edit User";
}

<div class="container-fluid p-t-1">
    <div asp-if="User.IsInRole(UserRoles.Administrator)" class="pull-xs-right">
        <div class="dropdown">
            <button class="btn btn-link btn-sm p-r-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></button>
            <div class="dropdown-menu dropdown-menu-right">
                <form asp-route="AdminDeleteUser" asp-route-id="@Model.Id" class="form-confirm">
                    <button type="submit" class="dropdown-item text-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>

    <h1 class="m-b-2">
        Edit User
    </h1>

    <form method="post">
        <div asp-validation-summary="All" class="alert alert-danger" role="alert"></div>

        <fieldset>
            <div asp-if="!string.IsNullOrWhiteSpace(Model.Role)" class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" class="form-control">
                    <option selected="@(Model.Role == UserRoles.Administrator)">
                        @UserRoles.Administrator
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input type="text" asp-for="Name" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input type="text" asp-for="EmailAddress" class="form-control" />
            </div>
        </fieldset>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="@(@ViewContext.HttpContext.Request.Query["returnUrl"].ToString().AsNullIfEmpty() ?? Url.RouteUrl("AdminListPosts", new { id = "" }))" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>