.btn-raised {
    border-radius: 3px;
    box-shadow: inset 0 -1.2px rgba(0, 0, 0, 0.12);
}

$email-bg:          #075aaa;
$facebook-bg:       #3b5998;
$github-bg:         #999;
$rss-bg:            #e88845;
$stack-overflow-bg: #fe7a15;
$twitter-bg:        #00aced;
$website-bg:        #ff0000;

.btn-email {
    background-color: $email-bg;
    color: #fff;
}

.btn-email:link,
.btn-email:visited {
    color: #fff;
}

.btn-email:active,
.btn-email:hover {
    background-color: darken($email-bg, 10%);
    color: #fff;
}

.btn-facebook {
    background-color: $facebook-bg;
    color: #fff;
}

.btn-facebook:link,
.btn-facebook:visited {
    color: #fff;
}

.btn-facebook:active,
.btn-facebook:hover {
    background-color: darken($facebook-bg, 10%);
    color: #fff;
}

.btn-github {
    background-color: $github-bg;
    color: #fff;
}

.btn-github:link,
.btn-github:visited {
    color: #fff;
}

.btn-github:active,
.btn-github:hover {
    background-color: darken($github-bg, 10%);
    color: #fff;
}

.btn-rss {
    background-color: $rss-bg;
    color: #fff;
}

.btn-rss:link,
.btn-rss:visited {
    color: #fff;
}

.btn-rss:active,
.btn-rss:hover {
    background-color: darken($rss-bg, 10%);
    color: #fff;
}

.btn-stack-overflow {
    background-color: $stack-overflow-bg;
    color: #fff;
}

.btn-stack-overflow:link,
.btn-stack-overflow:visited {
    color: #fff;
}

.btn-stack-overflow:active,
.btn-stack-overflow:hover {
    background-color: darken($stack-overflow-bg, 10%);
    color: #fff;
}

.btn-twitter {
    background-color: $twitter-bg;
    color: #fff;
}

.btn-twitter:link,
.btn-twitter:visited {
    color: #fff;
}

.btn-twitter:active,
.btn-twitter:hover {
    background-color: darken($twitter-bg, 10%);
    color: #fff;
}

.btn-website {
    background-color: $website-bg;
    color: #fff;
}

.btn-website:link,
.btn-website:visited {
    color: #fff;
}

.btn-website:active,
.btn-website:hover {
    background-color: darken($website-bg, 10%);
    color: #fff;
}