.login {
    margin: 0 auto;
    max-width: 450px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.login-input {
    margin: ($spacer * 3) 0;

    .form-control {
        padding: $spacer;
    }
}

@include media-breakpoint-up(sm) {
    .login {
        background: #f8fbfd;
        border: 1px solid #dae1e3;
        border-radius: 5px;
        padding-top: $spacer * 3;
    }

    .login-input {
        padding: 0 ($spacer * 3);
    }
}
